<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-success">Client List</div>

      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Person Name</th>
                  <th>Company Name</th>
                  <th>Address</th>
                  <th>Contact No</th>
                  <th>City</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                @for(item of clientList;track $index){
                <tr>
                  <td>{{ $index + 1 }}</td>
                  <td>{{ item.name | uppercase}}</td>
                  <td>{{ item.companyName }}</td>
                  <td>{{ item.address }}</td>
                  <td>{{ item.contactNo }}</td>
                  <td>{{ item.city }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="OnEdit(item.clientId)"
                    >
                      Edit
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="OnDelete(item.clientId)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div>
        <button (click)="ToClientForm()" routerLinkActive="router-link-active"  class="btn btn-primary col-1">Add Client</button>
      </div>
    </div>
  </div>

</div>

