<div class="col-4">
    <div class="card">
      <div class="card-header bg-success">New Client</div>
      <div class="card-body">
        <div class="row">
          <form action="" [formGroup]="ClientProjectForm">
            <div class="col-6">
              <label for="">Project Name</label>

              <input
                type="text"
                required
                formControlName="projectName"
                id=""
                class="form-control"
              />
              <div class="text-danger">
                @if(ClientProjectForm.controls['projectName'].touched){
                @if(ClientProjectForm.controls['projectName'].errors?.['required']){
                <span>required</span>
                }
                @if(ClientProjectForm.controls['projectName'].errors?.['minlength']){
                <span>min length is 4</span>
                } }
              </div>
            </div>
            <div class="col-6">
              <label for="">Start Date</label>
              <input
                type="date"
                formControlName="startDate"
                id=""
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="">Expected End Date</label>
              <input
                type="date"
                formControlName="expectedEndDate"
                id=""
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for=""> employeeName</label>
              <select
                name=""
                id=""
                formControlName="leadByEmpId"
                class="form-control"
              >
                <option value="">Select Employee</option>
                @for(item of employeeDetails;track item.empId){
                <option [value]="item.empId">
                  {{ item.empName }}
                </option>

                }
              </select>
            </div>
            <div class="col-6">
              <label for="">Completed Date</label>
              <input
                type="date"
                formControlName="completedDate"
                id=""
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="">Contact Name</label>
              <input
                type="text"
                formControlName="contactPerson"
                id=""
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="">Contact No</label>
              <input
                type="number"
                formControlName="contactPersonContactNo"
                id=""
                class="form-control"
              />
            </div>

            <div class="col-6">
              <label for="">project Details</label>
              <textarea
                type="text"
                formControlName="projectDetails"
                id=""
                class="form-control"
              ></textarea>
            </div>

            <div class="col-6">
              <label for=""> Employee Email</label>
              <input
                type="email"
                formControlName="contactPersonEmailId"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="">Client Name</label>
              <select
                name=""
                formControlName="clientId"
                class="form-control"
                id=""
              >
                <option value="">Select Client</option>
                @for(item of clientList; track $index){
                <option [value]="item.clientId">
                  {{ item.contactPersonName }}
                </option>
                }
              </select>
            </div>

            <div class="row pt-2">
              <div class="col-6 text-center">
                <button
                  class="btn btn-success"
                  [disabled]="!ClientProjectForm.valid"
                  (click)="OnSaveClient()"
                >
                  Save
                </button>
              </div>
              <div class="col-6 text-center">
                <button class="btn btn-success" (click)="OnReset()">
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
